@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal:#000000;
    --cor: #303030;
    --cor:#ffe3f1;
    --cor:#00c9c8;
    --cor:#bffcf9;
    --cor:#ec87e4;
    --cor: #ffffff;
}

body{
    font-size: 1rem;
font-family: "Noto Sans";
}
#contato {
    background: var(-- #000);
    background-size: cover;
    padding: 4rem 0;
}
.formulario{
    background-color: var(--#ffffff);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: o o 10px rgba(0, 0, 0, 1);
    font-weight: bold;
}
.formulario{
    background: var(--#ffffff);
    padding: 2rem;
    border-radius: ;

}